<div class="pricing-blocks">
    <div class="row">
        <div class="row-height">
            <div class="col-xs-12 col-sm-4 col-sm-height">
                <div class="inner-block">
                    <a href="#analitics" data-toggle="collapse">Analitics</a>
                    <div id="analitics" class="collapse">
                        <ul>
                            <li>Terms and cost evaluation</li>
                            <li>Project scheduling</li>
                            <li>Technical task creation</li>
                            <li>Projects audit</li>
                            <li>UX review</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-sm-height">
                <div class="inner-block">
                    <a href="#desing" data-toggle="collapse">Design</a>
                    <div id="desing" class="collapse">
                        <ul>
                            <li>UI design</li>
                            <li>UX design</li>
                            <li>Icons & Illustrations</li>
                            <li>Interactive banners</li>
                            <li>Printed promo materials</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-sm-height">
                <div class="inner-block">
                    <a href="#coding" data-toggle="collapse">Coding</a>
                    <div id="coding" class="collapse">
                        <ul>
                            <li>Layout and programming</li>
                            <li>Testing  and refinement</li>
                            <li>SEO</li>
                            <li>Code review</li>
                            <li>Urgent troubles solving</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
